.header {
  &__banner {
    background-color: $secondary-color;
  }
  &__banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  &__info {
    flex: 0 1 65%;
    display: flex;
    justify-content: space-between;
  }
  &__submenu {
    flex: 0 1 25%;
  }
  &__body {
    position: relative;
    height: 23rem;
  }
  &__body-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 150px;
    margin-right: 2.5rem;
  }

  &__logo-text {
    h2,
    h3 {
      font-weight: 900;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-image: url("../../public/mapka.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -20px;
    z-index: -1;
  }

  &__clients {
    text-align: right;
    h3,
    h4 {
      font-family: $main-font;
      font-weight: 900;
    }
  }

  &__menu {
    background-color: $secondary-color;
  }
}
