.header {
  @media (max-width: $bp-large-tablet) {
    display: flex;
    align-items: center;
  }
  @media (max-width: $bp-large-mobile) {
    position: relative;
    z-index: 9999999;
  }
  &__banner {
    background-color: $secondary-color;
    @media (max-width: $bp-large-tablet) {
      display: none;
    }
  }
  &__body {
    @media (max-width: $bp-large-tablet) {
      width: 100%;
    }
  }
  &__banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  &__info {
    flex: 0 1 65%;
    display: flex;
    justify-content: space-between;
  }
  &__submenu {
    flex: 0 1 25%;
  }
  &__body {
    position: relative;
    height: 23rem;
    @media (max-width: $bp-large-mobile) {
      height: 12rem;
    }
  }
  &__body-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @media (max-width: $bp-large-mobile) {
      background-color: $white-color;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0 3px 6px rgba($black-color, 0.16);
      height: 12rem;
      width: 100%;
    }
  }

  &__logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: $font-color;
  }

  &__logo {
    width: 150px;
    margin-right: 2.5rem;
    @media (max-width: $bp-large-mobile) {
      width: 100px;
    }
    @media (max-width: $bp-large-mobile) {
      width: 70px;
    }
  }

  &__logo-text {
    h2,
    h3 {
      font-weight: 900;
    }
    h2 {
      @media (max-width: $bp-large-mobile) {
        font-size: 1.8rem;
      }
    }
    h3 {
      @media (max-width: $bp-large-mobile) {
        font-size: 1.4rem;
      }
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background-image: url("../../public/mapka.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -20px;
    z-index: -1;

    @media (max-width: $bp-large-tablet) {
      width: 100%;
      background-position: 0 0;
    }
  }

  &__clients {
    text-align: right;
    h3,
    h4 {
      font-family: $main-font;
      font-weight: 900;
    }

    @media (max-width: $bp-large-tablet) {
      display: none;
    }
  }

  &__menu {
    background-color: $secondary-color;

    @media (max-width: $bp-large-tablet) {
      display: none;
    }
  }
  &__mobile-menu {
    display: flex;
    @media (min-width: $bp-large-tablet) {
      display: none;
    }
  }
}
