@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;900&family=Red+Hat+Display:wght@700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif; }

.header-font, h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif; }

.light, .heading-1--light, .heading-2--light, .heading-3--light, .heading-4--light, .heading-5--light, .heading-6--light {
  color: #e16241; }

.dark, .heading-1--dark, .heading-2--dark, .heading-3--dark, .heading-4--dark, .heading-5--dark, .heading-6--dark {
  color: #2d2d2d; }

.heading-1 {
  font-size: 4rem; }

.heading-2 {
  font-size: 3.2rem; }

.heading-3 {
  font-size: 2.4rem; }

.heading-4 {
  font-size: 2rem; }

.heading-5 {
  font-size: 1.8rem; }

.heading-6 {
  font-size: 1.6rem; }

body {
  box-sizing: border-box;
  color: #2d2d2d;
  text-rendering: optimizeLegibility; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

.header__banner {
  background-color: #f3f3f3; }
.header__banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; }
.header__info {
  flex: 0 1 65%;
  display: flex;
  justify-content: space-between; }
.header__submenu {
  flex: 0 1 25%; }
.header__body {
  position: relative;
  height: 23rem; }
.header__body-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; }
.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }
.header__logo {
  width: 150px;
  margin-right: 2.5rem; }
.header__logo-text h2,
.header__logo-text h3 {
  font-weight: 900; }
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-image: url("../../public/mapka.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20px;
  z-index: -1; }
.header__clients {
  text-align: right; }
  .header__clients h3,
  .header__clients h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 900; }
.header__menu {
  background-color: #f3f3f3; }

.info {
  display: flex;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4rem; }
  .info__icon {
    color: #e16241;
    margin-right: 0.5rem;
    font-size: 2rem; }
  .info__link {
    text-decoration: none;
    color: #2d2d2d;
    transition: 0.2s ease-in-out; }
    .info__link:hover {
      color: #e16241; }

.submenu {
  font-family: "Red Hat Display", sans-serif; }
  .submenu__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .submenu__link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    color: #2d2d2d;
    transition: 0.2s ease-in-out; }
    .submenu__link:hover {
      color: #e16241; }
    .submenu__link--active {
      color: #e16241; }

.menu {
  display: flex;
  height: 4.6rem; }
  .menu__list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%; }
  .menu__link {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 100%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    color: #2d2d2d; }
    .menu__link:hover, .menu__link--active {
      color: #fff;
      background-color: #e16241; }

/*# sourceMappingURL=style.css.map */
