@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;900&family=Red+Hat+Display:wght@700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  padding: 0; }

a {
  padding: 0; }

a:hover {
  text-decoration: none;
  color: unset; }

ul,
dl,
ol {
  margin: 0; }

label {
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif; }

.header-font, h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif; }

.light, .heading-1--light, .heading-2--light, .heading-3--light, .heading-4--light, .heading-5--light, .heading-6--light {
  color: #e16241; }

.dark, .heading-1--dark, .heading-2--dark, .heading-3--dark, .heading-4--dark, .heading-5--dark, .heading-6--dark {
  color: #2d2d2d; }

.blue, .heading-1--blue, .heading-2--blue, .heading-3--blue, .heading-4--blue, .heading-5--blue, .heading-6--blue {
  color: #48cccc; }

h1 {
  line-height: 1.7;
  margin: 0; }

.heading-1 {
  font-size: 4rem; }

h2 {
  line-height: 1.7;
  margin: 0; }

.heading-2 {
  font-size: 3.2rem; }

h3 {
  line-height: 1.7;
  margin: 0; }

.heading-3 {
  font-size: 2.4rem; }

h4 {
  line-height: 1.7;
  margin: 0; }

.heading-4 {
  font-size: 2rem; }

h5 {
  line-height: 1.7;
  margin: 0; }

.heading-5 {
  font-size: 1.8rem; }

h6 {
  line-height: 1.7;
  margin: 0; }

.heading-6 {
  font-size: 1.6rem; }

p {
  color: #9f9f9f;
  font-size: 1.6rem;
  line-height: 1.7; }
  p:not(:last-child) {
    margin-bottom: 1.2rem; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2d2d2d;
  text-rendering: optimizeLegibility; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

*::-moz-selection {
  background-color: #e16241;
  color: #fff; }

*::selection {
  background-color: #e16241;
  color: #fff; }

.header__banner {
  background-color: #f3f3f3; }
.header__banner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px; }
.header__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.header__submenu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%; }
.header__body {
  position: relative;
  height: 23rem; }
.header__body-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }
.header__logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #2d2d2d; }
.header__logo {
  width: 150px;
  margin-right: 2.5rem; }
.header__logo-text h2,
.header__logo-text h3 {
  font-weight: 900; }
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-image: url("../../public/mapka.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20px;
  z-index: -1; }
.header__clients {
  text-align: right; }
  .header__clients h3,
  .header__clients h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 900; }
.header__menu {
  background-color: #f3f3f3; }

.footer {
  background-color: #f3f3f3;
  padding: 9.5rem 0; }
  .footer__container {
    display: grid;
    grid-template-areas: "company contact privacy" "copyright copyright copyright";
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem; }
  .footer__company {
    display: grid;
    grid-area: company; }
  .footer__company-name {
    padding-bottom: 3rem; }
  .footer__contact {
    display: grid;
    grid-area: contact;
    grid-template-rows: -webkit-min-content 1fr;
    grid-template-rows: min-content 1fr; }
    .footer__contact p {
      line-height: 1; }
  .footer__contact .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__privacy {
    grid-area: privacy;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__copyright {
    grid-area: copyright;
    text-align: center;
    padding-top: 3rem;
    border-top: 3px solid #e16241; }
  .footer__title {
    border-bottom: 3px solid #e16241;
    padding-bottom: 1rem; }
  .footer__content {
    padding-top: 3rem; }
  .footer__description {
    font-size: 1.4rem; }
  .footer__copyright-text {
    font-size: 1.2rem; }
  .footer__link {
    margin-top: auto;
    text-decoration: none;
    font-size: 1.4rem;
    color: #9f9f9f;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .footer__link:hover {
      color: #e16241; }

#advices .advices {
  margin: 8rem 0; }
  #advices .advices__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 8rem; }
  #advices .advices__heading {
    font-weight: 900; }
#advices .cards {
  margin-top: 6rem; }
  #advices .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    gap: 2.5rem; }
#advices .card {
  text-align: left; }
  #advices .card__container {
    padding: 0; }
  #advices .card__image {
    max-height: 28rem; }
  #advices .card__btn {
    text-align: center;
    margin-top: 3rem; }
  #advices .card__title, #advices .card__description {
    padding: 0 3rem; }
  #advices .card__title {
    font-size: 2.4rem; }

#advices-item {
  margin: 8rem 0; }
  #advices-item .advices-item__heading {
    margin-bottom: 3rem;
    font-weight: 900; }
  #advices-item .advices-item__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 30rem;
    gap: 3rem;
    margin: 3rem 0; }
  #advices-item .advices-item__photo {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  #advices-item .advices-item__related {
    margin: 8rem 0 6rem 0; }
  #advices-item .advices-item__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 3rem; }

#category .cards {
  position: relative;
  min-height: 1000px;
  margin-bottom: 8rem; }
  #category .cards__background {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("../../public/mapka.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 100%;
    z-index: -1; }
  #category .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 36rem));
    gap: 3rem;
    margin-bottom: 8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #category .cards__description {
    margin-bottom: 8rem; }
  #category .cards__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

.contact {
  margin: 8rem 0; }
  .contact__heading {
    font-weight: 900;
    margin-bottom: 6rem; }
  .contact__info {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    margin-bottom: 3rem; }
  .contact__company, .contact__text, .contact__link {
    font-size: 1.6rem; }
  .contact__company, .contact__link {
    font-weight: 900; }
  .contact__company {
    grid-column: 1/-1;
    margin-bottom: 1rem; }
  .contact__company, .contact__icon {
    color: #e16241; }
  .contact__link {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 1rem;
    text-decoration: none;
    color: #2d2d2d;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .contact__link:hover {
      color: #e16241; }
  .contact__icon {
    font-size: 2rem; }
  .contact__map-container {
    width: 100%; }
  .contact__map {
    width: 100%;
    height: 44.6rem; }

#product {
  margin: 3rem 0 7rem 0; }
  #product .cards__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(25rem, 40rem));
    gap: 2.5rem; }

#regulations .regulations {
  position: relative;
  margin-top: 8rem; }
  #regulations .regulations__heading {
    font-weight: 900;
    margin-bottom: 6rem; }
  #regulations .regulations__background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    background-image: url("../../public/mapka.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #regulations .regulations__background-car {
    width: 100%;
    height: 16vw;
    background-image: url("../../public/background-car.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 4px; }

.breadcrump {
  margin-bottom: 3rem; }
  .breadcrump__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none; }
  .breadcrump__item {
    padding-right: 1rem; }
    .breadcrump__item:not(:last-child)::after {
      display: inline;
      content: "/";
      margin-left: 1rem; }
  .breadcrump__link, .breadcrump__item::after {
    font-size: 1.6rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: #9f9f9f; }
  .breadcrump__link {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .breadcrump__link:hover, .breadcrump__link--active {
      color: #e16241; }

.btn {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border: 3px solid;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Nunito", sans-serif; }
  .btn__primary {
    border-color: #e16241;
    color: #fff;
    background-color: #e16241; }
    .btn__primary:hover {
      color: #e16241;
      background-color: #fff; }
  .btn--small {
    padding: 1rem 2.2rem; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  text-align: center; }
  .card__container {
    padding: 2rem; }
  .card__image {
    width: 100%;
    height: 25rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 2rem; }
  .card__title {
    margin-bottom: 2rem; }
  .card__title, .card__price {
    font-weight: 900; }
  .card__description {
    margin-bottom: 3rem; }
  .card__btn {
    margin-top: auto !important; }

.carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  height: 60rem; }
  .carousel__item {
    position: relative;
    width: 100%; }
    .carousel__item:focus {
      outline: none; }
  .carousel__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -3; }
  .carousel__shadow, .carousel__filter {
    position: absolute;
    height: 100%; }
  .carousel__shadow {
    background-color: rgba(0, 0, 0, 0.8);
    mix-blend-mode: overlay;
    width: 100%;
    z-index: -2; }
  .carousel__filter {
    width: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    z-index: -1;
    mix-blend-mode: hue; }
  .carousel__container {
    height: 100%; }
  .carousel__caption {
    height: 70%;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    row-gap: 3rem;
    width: 60%; }
  .carousel__title {
    font-weight: 900;
    font-size: 4.7rem; }
  .carousel__description {
    font-weight: 500;
    font-family: inherit; }
  .carousel__btn {
    justify-self: flex-start; }
  .carousel__indicators {
    position: absolute;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .carousel .slick-track {
    height: 100%; }

.cookies {
  background-color: #9f9f9f;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cookies__text {
    color: #fff;
    margin-bottom: 0 !important;
    font-size: 1.4rem;
    margin-left: 3rem; }
  .cookies__link {
    color: #fff;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .cookies__link:hover {
      color: #f3f3f3; }
  .cookies__btn {
    font-size: 1.4rem;
    padding: 0 2rem;
    height: 100%; }
    .cookies__btn:hover {
      border-color: #fff; }
    .cookies__btn:focus {
      outline: none; }

.gallery {
  display: grid;
  row-gap: 1.6rem; }
  .gallery__main, .gallery__nav-item {
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.16); }
  .gallery__photo {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
  .gallery__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -webkit-column-gap: 1.6rem;
            column-gap: 1.6rem; }
  .gallery__thumbnail {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    cursor: pointer; }

.hero {
  margin: 3rem 0;
  position: relative;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero__background {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 0 -10vw;
       object-position: 0 -10vw;
    z-index: -2; }
  .hero__title {
    color: #fff;
    font-size: 4.7rem; }

.indicators {
  display: grid;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  grid-auto-flow: column;
  list-style: none; }
  .indicators li {
    height: 1.8rem;
    width: 1.8rem;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .indicators li > button {
      display: none; }
    .indicators li:hover, .indicators li.slick-active {
      background-color: #fff; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4rem; }
  .info__icon {
    color: #e16241;
    margin-right: 0.5rem;
    font-size: 2rem; }
  .info__link {
    text-decoration: none;
    color: #2d2d2d;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .info__link:hover {
      color: #e16241; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.6rem; }
  .menu__list {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
    height: 100%; }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem;
    height: 100%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #2d2d2d; }
    .menu__link:hover, .menu__link--active {
      color: #fff;
      background-color: #e16241; }

.pagination {
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .pagination__text {
    margin-bottom: 0 !important; }
  .pagination__input {
    border: none;
    background-color: rgba(159, 159, 159, 0.2);
    max-width: 5rem;
    padding: 0.5rem;
    border-radius: 4px; }
  .pagination__input, .pagination__text, .pagination__link {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2d2d2d; }
  .pagination__link {
    color: #e16241;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .pagination__link:hover {
      color: #2d2d2d; }
  .pagination__icon {
    font-size: 3rem; }

.product {
  display: grid;
  grid-template-areas: "gallery details" "description calendar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, -webkit-max-content);
  grid-template-rows: repeat(2, max-content);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 6rem; }
  .product__gallery {
    grid-area: gallery; }
  .product__title {
    font-weight: 900;
    grid-column: 1/-1; }
  .product__details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    gap: 2rem; }
  .product__text {
    grid-column: 1/-1; }
  .product__price {
    display: grid;
    row-gap: 2rem; }
  .product__heading {
    font-weight: 900; }
  .product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .product__info-text {
    color: #9f9f9f;
    font-size: 1.4rem; }
  .product__icon {
    font-size: 2rem;
    color: #9f9f9f;
    margin-top: 0.3rem;
    margin-right: 0.5rem; }
  .product__access {
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    row-gap: 2rem; }
  .product__description {
    grid-area: description; }
  .product__calendar {
    grid-area: calendar; }
  .product__related-title {
    margin: 8rem 0 6rem 0;
    font-weight: 900; }

.regulation:last-child {
  margin-bottom: 8rem; }
.regulation__title {
  margin-top: 6rem;
  margin-bottom: 2rem; }
.regulation__subtitle {
  margin-bottom: 6rem; }
.regulation__title, .regulation__subtitle {
  text-align: center; }
.regulation__description {
  margin-bottom: 2.5rem !important; }

.rent {
  margin-top: 8rem; }
  .rent__info {
    text-align: center;
    margin-bottom: 8rem; }
  .rent__title {
    margin-bottom: 6rem; }
  .rent__steps {
    position: relative; }
  .rent__map {
    width: 100%;
    height: 588px; }
  .rent__step, .rent__btn {
    position: absolute; }
  .rent__btn {
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .rent__step {
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif; }
    .rent__step--1 {
      top: 63%;
      left: 11%; }
    .rent__step--2 {
      top: 23%;
      left: 29%; }
    .rent__step--3 {
      top: 63%;
      right: 35.5%; }
    .rent__step--4 {
      top: 23%;
      right: 13%; }
  .rent__advantages {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: minmax(0, 1fr);
    -webkit-column-gap: 3rem;
            column-gap: 3rem; }
  .rent__content {
    display: grid;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    row-gap: 5rem;
    margin-bottom: 9rem; }
  .rent__image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .rent__photo {
    width: 100%;
    margin-top: auto;
    -o-object-fit: contain;
       object-fit: contain; }

.select {
  position: relative; }
  .select__input {
    display: none; }
  .select__label {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(159, 159, 159, 0.2);
    cursor: pointer; }
  .select__label, .select__option {
    font-size: 2rem;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    height: 3.6rem; }
  .select__icon {
    position: absolute;
    right: 5%;
    font-size: 2rem;
    color: #e16241; }
  .select__options {
    position: absolute;
    top: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(159, 159, 159, 0.2);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transition: -webkit-transform 0.1s ease-in-out;
    transition: -webkit-transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out; }
  .select__input:checked ~ .select__options {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); }
  .select__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: rgba(45, 45, 45, 0.6);
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out; }
    .select__option:hover {
      background-color: #e16241;
      color: #fff; }

.social {
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2rem; }
  .social__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 4.6rem;
    width: 4.6rem;
    border: 2px solid #9f9f9f;
    border-radius: 100%;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .social__item:hover {
      background-color: #e16241;
      border-color: #e16241; }
  .social__item:hover .social__icon {
    color: #fff; }
  .social__icon {
    font-size: 2.4rem;
    color: #9f9f9f;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }

.submenu {
  font-family: "Red Hat Display", sans-serif; }
  .submenu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none; }
  .submenu__link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    color: #2d2d2d;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out; }
    .submenu__link:hover, .submenu__link--active {
      color: #e16241; }

.tablist {
  display: grid; }
  .tablist__menu {
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 3rem;
    margin-bottom: 3rem; }
  .tablist__link {
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif;
    padding: 0;
    background-color: transparent !important;
    color: #9f9f9f;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .tablist__link.active, .tablist__link:hover {
      color: #e16241 !important; }
  .tablist__text {
    font-size: 1.6rem;
    color: #9f9f9f; }

/*# sourceMappingURL=style.css.map */