@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;900&family=Red+Hat+Display:wght@700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif; }

.header-font, h1, h2, h3, h4, h5, h6 {
  font-family: "Red Hat Display", sans-serif; }

.light, .heading-1--light, .heading-2--light, .heading-3--light, .heading-4--light, .heading-5--light, .heading-6--light {
  color: #e16241; }

.dark, .heading-1--dark, .heading-2--dark, .heading-3--dark, .heading-4--dark, .heading-5--dark, .heading-6--dark {
  color: #2d2d2d; }

h1 {
  line-height: 1.7; }

.heading-1 {
  font-size: 4rem; }

h2 {
  line-height: 1.7; }

.heading-2 {
  font-size: 3.2rem; }

h3 {
  line-height: 1.7; }

.heading-3 {
  font-size: 2.4rem; }

h4 {
  line-height: 1.7; }

.heading-4 {
  font-size: 2rem; }

h5 {
  line-height: 1.7; }

.heading-5 {
  font-size: 1.8rem; }

h6 {
  line-height: 1.7; }

.heading-6 {
  font-size: 1.6rem; }

p {
  color: #9f9f9f;
  font-size: 1.6rem;
  line-height: 1.7; }
  p:not(:last-child) {
    margin-bottom: 1.2rem; }

body {
  box-sizing: border-box;
  color: #2d2d2d;
  text-rendering: optimizeLegibility; }

.container {
  max-width: 114rem;
  margin: 0 auto; }

*::selection {
  background-color: #e16241;
  color: #fff; }

.header__banner {
  background-color: #f3f3f3; }
.header__banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; }
.header__info {
  flex: 0 1 65%;
  display: flex;
  justify-content: space-between; }
.header__submenu {
  flex: 0 1 25%; }
.header__body {
  position: relative;
  height: 23rem; }
.header__body-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%; }
.header__logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #2d2d2d; }
.header__logo {
  width: 150px;
  margin-right: 2.5rem; }
.header__logo-text h2,
.header__logo-text h3 {
  font-weight: 900; }
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-image: url("../../public/mapka.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -20px;
  z-index: -1; }
.header__clients {
  text-align: right; }
  .header__clients h3,
  .header__clients h4 {
    font-family: "Nunito", sans-serif;
    font-weight: 900; }
.header__menu {
  background-color: #f3f3f3; }

.footer {
  background-color: #f3f3f3;
  padding: 9.5rem 0; }
  .footer__container {
    display: grid;
    grid-template-areas: "company contact privacy" "copyright copyright copyright";
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem; }
  .footer__company {
    display: grid;
    grid-area: company; }
  .footer__company-name {
    padding-bottom: 3rem; }
  .footer__contact {
    display: grid;
    grid-area: contact;
    grid-template-rows: min-content 1fr; }
    .footer__contact p {
      line-height: 1; }
  .footer__contact .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__privacy {
    grid-area: privacy;
    display: flex;
    flex-direction: column; }
  .footer__copyright {
    grid-area: copyright;
    text-align: center;
    padding-top: 3rem;
    border-top: 3px solid #e16241; }
  .footer__title {
    border-bottom: 3px solid #e16241;
    padding-bottom: 1rem; }
  .footer__content {
    padding-top: 3rem; }
  .footer__description {
    font-size: 1.4rem; }
  .footer__copyright-text {
    font-size: 1.2rem; }
  .footer__link {
    margin-top: auto;
    text-decoration: none;
    font-size: 1.4rem;
    color: #9f9f9f;
    transition: 0.2s ease-in-out; }
    .footer__link:hover {
      color: #e16241; }

#advices .advices {
  margin: 8rem 0; }
  #advices .advices__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 8rem; }
  #advices .advices__heading {
    font-weight: 900; }
#advices .cards {
  margin-top: 6rem; }
  #advices .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    gap: 2.5rem; }
#advices .card {
  text-align: left; }
  #advices .card__container {
    padding: 0; }
  #advices .card__image {
    max-height: 28rem; }
  #advices .card__btn {
    text-align: center;
    margin-top: 3rem; }
  #advices .card__title, #advices .card__description {
    padding: 0 3rem; }
  #advices .card__title {
    font-size: 2.4rem; }

#category .cards {
  position: relative;
  min-height: 1000px;
  margin-bottom: 8rem; }
  #category .cards__background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../../public/mapka.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 100%;
    z-index: -1; }
  #category .cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 36rem));
    gap: 3rem;
    margin-bottom: 8rem;
    justify-content: space-between; }
  #category .cards__description {
    margin-bottom: 8rem; }
  #category .cards__pagination {
    display: flex;
    justify-content: flex-end; }

#regulations .regulations {
  position: relative;
  margin: 8rem 0; }
  #regulations .regulations__heading {
    font-weight: 900;
    margin-bottom: 6rem; }
  #regulations .regulations__background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 100%;
    object-fit: contain;
    background-image: url("../../public/mapka.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    transform: translate(-50%, -50%); }
  #regulations .regulations__background-car {
    width: 100%;
    height: 16vw;
    background-image: url("../../public/background-car.svg");
    background-repeat: no-repeat;
    background-size: cover; }

.breadcrump {
  margin-bottom: 3rem; }
  .breadcrump__list {
    display: flex;
    list-style: none; }
  .breadcrump__item {
    padding-right: 1rem; }
    .breadcrump__item:not(:last-child)::after {
      display: inline;
      content: "/";
      margin-left: 1rem; }
  .breadcrump__link, .breadcrump__item::after {
    font-size: 1.6rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    color: #9f9f9f; }
  .breadcrump__link {
    text-decoration: none;
    font-size: 1.6rem;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    transition: color 0.2s ease-in-out; }
    .breadcrump__link:hover, .breadcrump__link--active {
      color: #e16241; }

.btn {
  padding: 1.5rem 3rem;
  font-size: 2rem;
  border: 3px solid;
  font-weight: 900;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Nunito", sans-serif; }
  .btn__primary {
    border-color: #e16241;
    color: #fff;
    background-color: #e16241; }
    .btn__primary:hover {
      color: #e16241;
      background-color: #fff; }
  .btn--small {
    padding: 1rem 2.2rem; }

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
  text-align: center; }
  .card__container {
    padding: 2rem; }
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 2rem; }
  .card__title {
    margin-bottom: 2rem; }
  .card__title, .card__price {
    font-weight: 900; }
  .card__description {
    margin-bottom: 3rem; }
  .card__btn {
    margin-top: auto !important; }

.carousel {
  position: relative;
  display: flex;
  margin-top: 3rem;
  height: 60rem; }
  .carousel__item {
    position: relative;
    width: 100%; }
    .carousel__item:focus {
      outline: none; }
  .carousel__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3; }
  .carousel__shadow, .carousel__filter {
    position: absolute;
    height: 100%; }
  .carousel__shadow {
    background-color: rgba(0, 0, 0, 0.8);
    mix-blend-mode: overlay;
    width: 100%;
    z-index: -2; }
  .carousel__filter {
    width: 50%;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    z-index: -1;
    mix-blend-mode: hue; }
  .carousel__container {
    height: 100%; }
  .carousel__caption {
    height: 70%;
    display: grid;
    align-content: center;
    grid-auto-rows: min-content;
    row-gap: 3rem;
    width: 60%; }
  .carousel__title {
    font-weight: 900;
    font-size: 4.7rem; }
  .carousel__description {
    font-weight: 500;
    font-family: inherit; }
  .carousel__btn {
    justify-self: flex-start; }
  .carousel__indicators {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%); }
  .carousel .slick-track {
    height: 100%; }

.cookies {
  background-color: #9f9f9f;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cookies__text {
    color: #fff;
    margin-bottom: 0 !important;
    font-size: 1.4rem;
    margin-left: 3rem; }
  .cookies__link {
    color: #fff;
    transition: 0.2s ease-in-out; }
    .cookies__link:hover {
      color: #f3f3f3; }
  .cookies__btn {
    font-size: 1.4rem;
    padding: 0 2rem;
    height: 100%; }
    .cookies__btn:hover {
      border-color: #fff; }
    .cookies__btn:focus {
      outline: none; }

.hero {
  margin: 3rem 0;
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__background {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
  .hero__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 -10vw;
    z-index: -2; }
  .hero__title {
    color: #fff;
    font-size: 4.7rem; }

.indicators {
  display: grid;
  column-gap: 2rem;
  grid-auto-flow: column;
  list-style: none; }
  .indicators li {
    height: 1.8rem;
    width: 1.8rem;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .indicators li > button {
      display: none; }
    .indicators li:hover, .indicators li.slick-active {
      background-color: #fff; }

.info {
  display: flex;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.4rem; }
  .info__icon {
    color: #e16241;
    margin-right: 0.5rem;
    font-size: 2rem; }
  .info__link {
    text-decoration: none;
    color: #2d2d2d;
    transition: color 0.2s ease-in-out; }
    .info__link:hover {
      color: #e16241; }

.menu {
  display: flex;
  height: 4.6rem; }
  .menu__list {
    flex: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 100%; }
  .menu__link {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 100%;
    font-family: "Red Hat Display", sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    color: #2d2d2d; }
    .menu__link:hover, .menu__link--active {
      color: #fff;
      background-color: #e16241; }

.pagination {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1rem;
  align-items: center; }
  .pagination__text {
    margin-bottom: 0 !important; }
  .pagination__input {
    border: none;
    background-color: rgba(159, 159, 159, 0.2);
    max-width: 5rem;
    padding: 0.5rem;
    border-radius: 4px; }
  .pagination__input, .pagination__text, .pagination__link {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    font-size: 2rem;
    color: #2d2d2d; }
  .pagination__link {
    color: #e16241;
    transition: 0.2s ease-in-out; }
    .pagination__link:hover {
      color: #2d2d2d; }
  .pagination__icon {
    font-size: 3rem; }

.regulation:last-child {
  margin-bottom: 8rem; }
.regulation__title {
  margin-top: 6rem;
  margin-bottom: 2rem; }
.regulation__subtitle {
  margin-bottom: 6rem; }
.regulation__title, .regulation__subtitle {
  text-align: center; }
.regulation__description {
  margin-bottom: 2.5rem !important; }

.rent {
  margin-top: 8rem; }
  .rent__info {
    text-align: center;
    margin-bottom: 8rem; }
  .rent__title {
    margin-bottom: 6rem; }
  .rent__steps {
    position: relative; }
  .rent__map {
    width: 100%;
    height: 588px; }
  .rent__step, .rent__btn {
    position: absolute; }
  .rent__btn {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); }
  .rent__step {
    font-size: 2rem;
    font-family: "Red Hat Display", sans-serif; }
    .rent__step--1 {
      top: 63%;
      left: 11%; }
    .rent__step--2 {
      top: 23%;
      left: 29%; }
    .rent__step--3 {
      top: 63%;
      right: 35.5%; }
    .rent__step--4 {
      top: 23%;
      right: 13%; }
  .rent__advantages {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 3rem; }
  .rent__content {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 5rem;
    margin-bottom: 9rem; }
  .rent__image-container {
    display: flex; }
  .rent__photo {
    width: 100%;
    margin-top: auto;
    object-fit: contain; }

.social {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 2rem; }
  .social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6rem;
    width: 4.6rem;
    border: 2px solid #9f9f9f;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out; }
    .social__item:hover {
      background-color: #e16241;
      border-color: #e16241; }
  .social__item:hover .social__icon {
    color: #fff; }
  .social__icon {
    font-size: 2.4rem;
    color: #9f9f9f;
    transition: 0.2s ease-in-out; }

.submenu {
  font-family: "Red Hat Display", sans-serif; }
  .submenu__list {
    display: flex;
    justify-content: space-between;
    list-style: none; }
  .submenu__link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    color: #2d2d2d;
    transition: color 0.2s ease-in-out; }
    .submenu__link:hover, .submenu__link--active {
      color: #e16241; }

/*# sourceMappingURL=style.css.map */
