$main-font: "Nunito", sans-serif;
$header-font: "Red Hat Display", sans-serif;

$primary-color: #e16241;
$secondary-color: #f3f3f3;
$tertiary-color: #48cccc;
$font-color: #2d2d2d;
$footer-color: #9f9f9f;

$white-color: #fff;
$black-color: #000;

$grid-width: 114rem;

$bp-large-tablet: 75em;
$bp-large-mobile: 48em;
$bp-mobile: 30em;
