.indicators {
  display: grid;
  column-gap: 2rem;
  grid-auto-flow: column;
  list-style: none;

  li {
    height: 1.8rem;
    width: 1.8rem;
    background-color: transparent;
    border: 2px solid $white-color;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    > button {
      display: none;
    }

    &:hover,
    &.slick-active {
      background-color: $white-color;
    }
  }
}
