.product {
  display: grid;
  grid-template-areas:
    "gallery details"
    "description calendar";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, max-content);
  column-gap: 3rem;
  row-gap: 6rem;

  &__gallery {
    grid-area: gallery;
  }

  &__title {
    font-weight: 900;
    grid-column: 1/-1;
  }

  &__details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 2rem;
  }

  &__text {
    grid-column: 1/-1;
  }

  &__price {
    display: grid;
    row-gap: 2rem;
  }
  &__heading {
    font-weight: 900;
  }
  &__info {
    display: flex;
    align-items: flex-start;
  }
  &__info-text {
    color: $footer-color;
    font-size: 1.4rem;
  }
  &__icon {
    font-size: 2rem;
    color: $footer-color;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
  }

  &__access {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 2rem;
  }

  &__description {
    grid-area: description;
  }

  &__calendar {
    grid-area: calendar;
  }

  &__related-title {
    margin: 8rem 0 6rem 0;
    font-weight: 900;
  }
}
