.rent {
  margin-top: 8rem;
  @media (max-width: $bp-large-tablet) {
    margin-top: 5.7rem;
  }

  &__info {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__title {
    margin-bottom: 6rem;
    @media (max-width: $bp-large-tablet) {
      margin-bottom: 0;
    }
    @media (max-width: $bp-large-mobile) {
      font-size: 2.2rem;
    }
  }

  &__steps {
    position: relative;
  }
  &__map {
    width: 100%;
    height: 588px;

    @media (max-width: $bp-large-tablet) {
      height: 50vw;
    }
    @media (max-width: $bp-large-mobile) {
      height: 70vw;
    }
  }

  &__step,
  &__btn {
    position: absolute;
  }

  &__btn {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $bp-large-tablet) {
      bottom: 0%;
    }
    @media (max-width: $bp-large-mobile) {
      bottom: -3rem;
      width: 70%;
    }
  }

  &__step {
    font-size: 2rem;
    font-family: $header-font;
    @media (max-width: $bp-large-tablet) {
      font-size: 2vw;
    }
    @media (max-width: $bp-large-mobile) {
      font-size: 3vw;
    }
    &--1 {
      top: 63%;
      left: 11%;
      @media (max-width: $bp-large-tablet) {
        left: 8vw;
      }
      @media (max-width: $bp-large-mobile) {
        left: 6%;
      }
    }
    &--2 {
      top: 23%;
      left: 29%;
      @media (max-width: $bp-large-tablet) {
        left: 26%;
      }
      @media (max-width: $bp-large-mobile) {
        top: 20%;
        left: 21%;
      }
    }
    &--3 {
      top: 63%;
      right: 35.5%;
      @media (max-width: $bp-large-tablet) {
        right: 33%;
      }
      @media (max-width: $bp-large-mobile) {
        right: 32%;
      }
    }
    &--4 {
      top: 23%;
      right: 13%;
      @media (max-width: $bp-large-tablet) {
        right: 12%;
      }
      @media (max-width: $bp-large-mobile) {
        top: 20%;
        right: 10%;
      }
    }
  }

  &__advantages {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: minmax(0, 1fr);
    column-gap: 3rem;
    @media (max-width: $bp-large-tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 5rem;
    margin-bottom: 9rem;
  }

  &__heading {
    @media (max-width: $bp-large-tablet) {
      text-align: center;
    }
    @media (max-width: $bp-large-mobile) {
      font-size: 2.2rem;
      text-align: left;
    }
  }

  &__image-container {
    display: flex;
  }
  &__photo {
    width: 100%;
    margin-top: auto;
    object-fit: contain;
    @media (max-width: $bp-large-tablet) {
      display: none;
    }
  }
}
