.submenu {
  font-family: $header-font;
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 1rem;
    color: $font-color;
    transition: color 0.2s ease-in-out;

    &:hover,
    &--active {
      color: $primary-color;
    }
  }
}
