body {
  box-sizing: border-box;
  color: $font-color;
  text-rendering: optimizeLegibility;
}

.container {
  max-width: $grid-width;
  margin: 0 auto;
}

*::selection {
  background-color: $primary-color;
  color: $white-color;
}
