@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;900&family=Red+Hat+Display:wght@700;900&display=swap");

html {
  font-size: 62.5%;
  @media (max-width: $bp-large-tablet) {
    font-size: 55%;
  }
}

body {
  font-family: $main-font;
}

.header-font {
  font-family: $header-font;
}

.light {
  color: $primary-color;
}
.dark {
  color: $font-color;
}
.blue {
  color: $tertiary-color;
}

@for $i from 1 through 6 {
  h#{$i} {
    @extend .header-font;
    line-height: 1.7;
    margin: 0;
  }
  .heading-#{$i} {
    @if ($i == 1) {
      font-size: 4rem;
    } @else if($i == 2) {
      font-size: 3.2rem;
    } @else if($i == 3) {
      font-size: 2.4rem;
    } @else if($i == 4) {
      font-size: 2rem;
    } @else if($i == 5) {
      font-size: 1.8rem;
    } @else if($i == 6) {
      font-size: 1.6rem;
    }

    &--light {
      @extend .light;
    }
    &--dark {
      @extend .dark;
    }
    &--blue {
      @extend .blue;
    }
  }
}

p {
  color: $footer-color;
  font-size: 1.6rem;
  line-height: 1.7;
  &:not(:last-child) {
    margin-bottom: 1.2rem;
  }

  @media (max-width: $bp-large-tablet) {
    font-size: 1.8rem;
  }
}
